@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic,latin-ext);

body {
    font-family: 'Lobster', cursive;
}

section{
    background-color: wheat;
    width: 1024px;
    height: 768px;
	border: 4px solid #404040;
    box-shadow: 0 0 40px gray;
}

img {
	margin-top: 30px;
}

button {
    width: 350px;
    height: 90px;
    float: left;
	margin-top: 430px;
	margin-left: 5px;
    border: 6px solid #404040;
    text-align: center;
    font-size: 50px;
    color: darkorange;
    border-radius: 10px;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}
